Actividades/Etapa 5/Alan/Escuela/Escuela/Connected Services/ServiceReference1/FacultadService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Escuela.Service.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Escuela.Service.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOffacultad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="facultad" nillable="true" type="tns:facultad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOffacultad" nillable="true" type="tns:ArrayOffacultad" />
  <xs:complexType name="facultad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id_Facultad" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="facultad" nillable="true" type="tns:facultad" />
</xs:schema>